    script
      | window.addEventListener("load", function(){
      | window.cookieconsent.initialise({
      |   "palette": {
      |     "popup": {
      |       "background": "#28353b"
      |     },
      |     "button": {
      |       "background": "#4379be"
      |     }
      |   },
      |   "content": {
      |     "message": "This website uses cookies to ensure you get the best experience on my blog."
      |   }
      | })});