// -----------------------------------------------------------------------------
// Variables
// -----------------------------------------------------------------------------

	// Colours
	$h-colour: #2a373d; // Heading Colour
	$b-colour: #222222; // Body Colour
	$s-colour: #979797; // Secondary Colour

	// Fonts
	$h-font: 'Roboto', sans-serif; // Heading Font
	$b-font: 'Noto Serif', serif; // Body Font
	$icon-font: 'fontello';// Icon Font

	// Font Weights
	$light: 300;
	$normal: 400;
	$bold: 700;
